openapi: 3.0.0
info:
  title: Coffee Club Order Service
  version: 1.0.0

servers:
  - url: https://orders.coffeeclub.com/v1

paths:
  # 1. Создать заказ
  /order:
    post:
      summary: Создать заказ из корзины
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_id
                - quantity
              properties:
                product_id:
                  type: string
                quantity:
                  type: integer
                coffee_shop_id:
                  type: string
      responses:
        '200':
          description: Заказ создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                  status:
                    type: string
                  total_amount:
                    type: number
        '401':
          description: Не авторизован
        '404':
          description: Заказ не найден            
      

  # 2. Получить статус заказа
  /order/{order_id}/status:
    get:
      summary: Получить статус заказа
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Статус заказа
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  qr_code:
                    type: string
        '401':
          description: Не авторизован
        '404':
          description: Заказ не найден

  # 3. История заказов
  /orders:
    get:
      summary: История заказов
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    order_id:
                      type: string
                    status:
                      type: string
                    total_amount:
                      type: number
        '401':
          description: Не авторизован
        '404':
          description: Заказ не найден
                      
  # 4. Отменить заказ
  /order/{order_id}/cancel:
    post:
      summary: Отменить заказ
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid

      responses: 
        '200':
          description: Заказ отменён
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                  status:
                    type: string      
                    enum: [cancelled]
                  refund_money:
                    type: number
                    description: Сумма возврата (если оплачено)
        '401':
          description: Не авторизован
        '404':
          description: Заказ не найден
        
  # 5. Получить детали заказа                
  /order/{order_id}:
    get: 
      summary: Получить детали заказа
      parameters:
        - name: order_id
          in: path
          required: true
          schema: 
            type: string
            format: uuid
      responses:
        '200':
          description: Детали заказа
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                  status:
                    type: string
                  total_amount:
                    type: number
                  created_at:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        product_id:
                          type: string
                        product_name:
                          type: string
                        quantity:
                          type: integer
                        unit_price:
                          type: number
                        customizations:
                          type: array
                          items:
                            type: string
                  qr_code:
                    type: string
                    description: Только для статуса ready
        '401':
          description: Не авторизован
        '404':
          description: Заказ не найден
          
  # 6. Посмотреть корзину
  /order/basket:
    get: 
      summary: Посмотреть корзину
      responses: 
        '200':
          description: Корзина
          content: 
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties: 
                    product_id:
                      type: string
                    product_name:
                      type: string
                    quantity:
                      type: integer
                    unit_price:
                      type: number
                    total_price: 
                        type: number
  /order/basket/add:
    post:
      summary: Добавить товар в корзину
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_id
                - quantity
              properties:
                product_id:
                  type: string
                quantity:
                  type: integer
      responses:
        '200':
          description: Товар добавлен
        '401':
          description: Не авторизован
        '404':
          description: Заказ не найден  
  /order/basket/{product_id}:
    delete:
      summary: Удалить товар из корзины
      parameters:
        - name: product_id
          in: path
          required: true
          schema: 
            type: string
      responses:
        '200':
          description: Товар удалён из корзины
        '401':
          description: Не авторизован
        '404':
          description: Товар не найден в корзине
      
        